{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% with request.path|cut:"/accounts/"|cut:"/login/callback/"|cut:"/" as provider %}

{% block title %}
    Continue with {{ provider|title }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/registration.css' %}">
{% endblock %}

{% block content %}
{% include "back_button.html" %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-container p-4 border border-dark-subtle rounded-1 text-center">
        <h3 class="mb-3">Continue with {{ provider|title }}</h3>
        <p>You are about to authenticate using your {{ provider|title }} account.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mt-3 w-100">Continue</button>
        </form>
    </div>
</div>
{% endblock %}

{% endwith %}