{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title|default:"Change Password" }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/registration.css' %}">
{% endblock %}

{% block content %}
{% include "back_button.html" %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-container p-4 rounded-1 border border-dark-subtle" style="max-width: 500px; width: 100%;">
        <h3 class="mb-4 text-center">
            {% if request.resolver_match.url_name == "account_change_password" %}
                Change Password
            {% else %}
                Set Your Password
            {% endif %}
        </h3>

        {% if form.errors %}
            <div class="alert alert-danger">Please fix the errors below.</div>
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary w-100 mt-3" type="submit">
                {% if request.resolver_match.url_name == "account_change_password" %}
                    Change Password
                {% else %}
                    Set Password
                {% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock %}