* {
  border-radius: 0 !important;
}

.spinner-grow {
  border-radius: 50% !important;
  background-color: #2c5364 !important;
  border-color: #2c5364 !important;
}

.btn-primary, .dropdown-item:hover {
  background-color: #2c5364 !important;
  border-color: #2c5364 !important;
  border: none;
}

.btn-primary:active {
  background-color: #3d6a7f; !important;
  border-color: #3d6a7f !important;
  border: none;
}