.stock-search-wrapper {
    position: relative;
}

.stock-search-wrapper #search-results {
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem;
    background-color: #fff;
    cursor: pointer !important;
}

.stock-search-wrapper #search-results .result-item {
    padding: 0.5rem 1rem;
    cursor: pointer !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-search-wrapper #search-results .result-item:hover,
.stock-search-wrapper #search-results .result-item.active {
    background-color: #3d6a7f; !important;
    border-color: #3d6a7f !important;
    cursor: pointer;
}

.list-group-item.active {
    background-color: #3d6a7f !important;
    border-color: #3d6a7f !important;
    cursor: pointer !important;
    overflow-y: auto;
}

.list-group-item.hover {
    background-color: #3d6a7f !important;
    border-color: #3d6a7f !important;
    cursor: pointer !important;
    overflow-y: auto;
}

.stock-search-wrapper #search-results.d-none {
    display: none !important;
}